@charset "UTF-8";

*, :after, :before {
	box-sizing: border-box
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}
nav {
	display: block
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}
h4 {
	margin-top: 0;
	margin-bottom: .5rem
}
strong {
	font-weight: bolder
}
a {
	color: #3897f0;
	text-decoration: none;
	background-color: transparent
}
a:hover {
	color: #0f71cc;
	text-decoration: underline
}
img {
	border-style: none
}
img {
	vertical-align: middle
}
label {
	display: inline-block;
	margin-bottom: .5rem
}
button {
	border-radius: 0
}
button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}
button, input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
button, input {
	overflow: visible
}
button {
	text-transform: none
}
[type=submit], button {
	-webkit-appearance: button
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
	cursor: pointer
}
[type=submit]::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border-style: none
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button
}
h4 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}
h4 {
	font-size: 1.5rem
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid #7c85a5;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
@media(min-width:768px) {
	.container {
		max-width: 540px
	}
}
@media(min-width:1280px) {
	.container {
		max-width: 1170px
	}
}
@media(min-width:1360px) {
	.container {
		max-width: 1200px
	}
}
@media(min-width:1440px) {
	.container {
		max-width: 1300px
	}
}
.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 6px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control2 {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 6px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #5dc529;
	background-color: #164c4e;
	background-clip: padding-box;
	border: 1px solid #1a6365;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out

	  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  margin-bottom:15px;
}

.form-control2 .opt {font-size:20px;}


select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}




@media(prefers-reduced-motion:reduce) {
	.form-control {
		transition: none
	}
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #afd5f9;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(56, 151, 240, .25)
}
.form-control:disabled {
	background-color: #e9ecef;
	opacity: 1
}
.form-group {
	margin-bottom: 1rem
}
.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label:before, .was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label:before {
	border-color: #2ecc71
}
.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label:before, .was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label:before {
	border-color: #ff4949
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media(prefers-reduced-motion:reduce) {
	.btn {
		transition: none
	}
}
.btn:hover {
	color: #212529;
	text-decoration: none
}
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(56, 151, 240, .25)
}
.btn:disabled {
	opacity: .65
}
.btn-primary {
	color: #fff;
	background-color: #0c1e5a;
	border-color: #0c1e5a
}

.btn-success {
	color: #fff;
	background-color: #11805a;

}
.btn-primary:hover {
	color: #fff;
	background-color: #26369e;
	border-color: #26369e
}
.btn-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(86, 167, 242, .5)
}
.btn-primary:disabled {
	color: #fff;
	background-color: #3897f0;
	border-color: #3897f0
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #117ee4;
	border-color: #1077d8
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(86, 167, 242, .5)
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: grey;
	border-color: #797979
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(135, 136, 136, .5)
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #25a25a;
	border-color: #229854
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(77, 212, 134, .5)
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #089ad1;
	border-color: #0891c5
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(57, 196, 247, .5)
}
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #e6a801;
	border-color: #d99f01
}
.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(221, 170, 30, .5)
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ff1616;
	border-color: #ff0909
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 100, 100, .5)
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df
}
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d
}
.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="kirim.email"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="kirim.email"], .btn-ke:not(:disabled):not(.disabled).active, .btn-ke:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #252b42;
	border-color: #212639
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="kirim.email"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="kirim.email"], .btn-ke:not(:disabled):not(.disabled).active:focus, .btn-ke:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(86, 94, 122, .5)
}
.btn-google:not(:disabled):not(.disabled).active, .btn-google:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #d62516;
	border-color: #ca2315
}
.btn-google:not(:disabled):not(.disabled).active:focus, .btn-google:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(237, 95, 83, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=facebook], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=facebook], .btn-facebook:not(:disabled):not(.disabled).active, .btn-facebook:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #2d4373;
	border-color: #293e6a
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=facebook], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=facebook], .btn-facebook:not(:disabled):not(.disabled).active:focus, .btn-facebook:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(88, 114, 167, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=instagram], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=instagram], .btn-instagram:not(:disabled):not(.disabled).active, .btn-instagram:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1c3dd7;
	border-color: #1b3acc
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=instagram], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=instagram], .btn-instagram:not(:disabled):not(.disabled).active:focus, .btn-instagram:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(93, 117, 234, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=twitter], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=twitter], .btn-twitter:not(:disabled):not(.disabled).active, .btn-twitter:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #0c85d0;
	border-color: #0b7ec4
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=twitter], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=twitter], .btn-twitter:not(:disabled):not(.disabled).active:focus, .btn-twitter:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(63, 175, 244, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="wa.me"], .btn-checkout:not(:disabled):not(.disabled).active[data-href*=whatsapp], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="wa.me"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=whatsapp], .btn-whatsapp:not(:disabled):not(.disabled).active, .btn-whatsapp:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1fa855;
	border-color: #1d9d50
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="wa.me"], .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=whatsapp], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="wa.me"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=whatsapp], .btn-whatsapp:not(:disabled):not(.disabled).active:focus, .btn-whatsapp:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(71, 218, 129, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=line], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=line], .btn-line:not(:disabled):not(.disabled).active, .btn-line:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #009000;
	border-color: #008300
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=line], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=line], .btn-line:not(:disabled):not(.disabled).active:focus, .btn-line:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(38, 204, 38, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="m.me"], .btn-checkout:not(:disabled):not(.disabled).active[data-href*=messenger], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="m.me"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=messenger], .btn-messenger:not(:disabled):not(.disabled).active, .btn-messenger:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #006acc;
	border-color: #0063bf
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="m.me"], .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=messenger], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="m.me"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=messenger], .btn-messenger:not(:disabled):not(.disabled).active:focus, .btn-messenger:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(38, 150, 255, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="t.me"], .btn-checkout:not(:disabled):not(.disabled).active[data-href*=telegram], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="t.me"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=telegram], .btn-telegram:not(:disabled):not(.disabled).active, .btn-telegram:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #069;
	border-color: #005e8c
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="t.me"], .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=telegram], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="t.me"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=telegram], .btn-telegram:not(:disabled):not(.disabled).active:focus, .btn-telegram:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(38, 154, 212, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="youtu.be"], .btn-checkout:not(:disabled):not(.disabled).active[data-href*=youtube], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="youtu.be"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=youtube], .btn-youtube:not(:disabled):not(.disabled).active, .btn-youtube:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #c00;
	border-color: #bf0000
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="youtu.be"], .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=youtube], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="youtu.be"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=youtube], .btn-youtube:not(:disabled):not(.disabled).active:focus, .btn-youtube:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 38, 38, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=soundcloud], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=soundcloud], .btn-soundcloud:not(:disabled):not(.disabled).active, .btn-soundcloud:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #e93801;
	border-color: #dc3501
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=soundcloud], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=soundcloud], .btn-soundcloud:not(:disabled):not(.disabled).active:focus, .btn-soundcloud:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(254, 110, 65, .5)
}
.btn-applepodcast:not(:disabled):not(.disabled).active, .btn-applepodcast:not(:disabled):not(.disabled):active, .btn-checkout:not(:disabled):not(.disabled).active[data-href*="podcasts.apple"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="podcasts.apple"] {
	color: #fff;
	background-color: #602ace;
	border-color: #5b28c3
}
.btn-applepodcast:not(:disabled):not(.disabled).active:focus, .btn-applepodcast:not(:disabled):not(.disabled):active:focus, .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="podcasts.apple"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="podcasts.apple"] {
	box-shadow: 0 0 0 .2rem rgba(145, 106, 224, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*="google.com/podcast"], .btn-checkout:not(:disabled):not(.disabled):active[data-href*="google.com/podcast"], .btn-googlepodcast:not(:disabled):not(.disabled).active, .btn-googlepodcast:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #135cbc;
	border-color: #1256b1
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*="google.com/podcast"], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*="google.com/podcast"], .btn-googlepodcast:not(:disabled):not(.disabled).active:focus, .btn-googlepodcast:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(60, 136, 235, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=spotify], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=spotify], .btn-spotify:not(:disabled):not(.disabled).active, .btn-spotify:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #168d40;
	border-color: #14823b
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=spotify], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=spotify], .btn-spotify:not(:disabled):not(.disabled).active:focus, .btn-spotify:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(63, 196, 110, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=shopee], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=shopee], .btn-shopee:not(:disabled):not(.disabled).active, .btn-shopee:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #d42e17;
	border-color: #c82c16
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=shopee], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=shopee], .btn-shopee:not(:disabled):not(.disabled).active:focus, .btn-shopee:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(236, 102, 83, .5)
}
.btn-bukalapak:not(:disabled):not(.disabled).active, .btn-bukalapak:not(:disabled):not(.disabled):active, .btn-checkout:not(:disabled):not(.disabled).active[data-href*=bukalapak], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=bukalapak] {
	color: #fff;
	background-color: #a60b3b;
	border-color: #9a0a37
}
.btn-bukalapak:not(:disabled):not(.disabled).active:focus, .btn-bukalapak:not(:disabled):not(.disabled):active:focus, .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=bukalapak], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=bukalapak] {
	box-shadow: 0 0 0 .2rem rgba(220, 50, 103, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=tokopedia], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=tokopedia], .btn-tokopedia:not(:disabled):not(.disabled).active, .btn-tokopedia:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #359040;
	border-color: #32863b
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=tokopedia], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=tokopedia], .btn-tokopedia:not(:disabled):not(.disabled).active:focus, .btn-tokopedia:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(95, 192, 106, .5)
}
.btn-blibli:not(:disabled):not(.disabled).active, .btn-blibli:not(:disabled):not(.disabled):active, .btn-checkout:not(:disabled):not(.disabled).active[data-href*=blibli], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=blibli] {
	color: #fff;
	background-color: #0a74a6;
	border-color: #096c9a
}
.btn-blibli:not(:disabled):not(.disabled).active:focus, .btn-blibli:not(:disabled):not(.disabled):active:focus, .btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=blibli], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=blibli] {
	box-shadow: 0 0 0 .2rem rgba(49, 166, 220, .5)
}
.btn-checkout:not(:disabled):not(.disabled).active[data-href*=lazada], .btn-checkout:not(:disabled):not(.disabled):active[data-href*=lazada], .btn-lazada:not(:disabled):not(.disabled).active, .btn-lazada:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #090c40;
	border-color: #070a35
}
.btn-checkout:not(:disabled):not(.disabled).active:focus[data-href*=lazada], .btn-checkout:not(:disabled):not(.disabled):active:focus[data-href*=lazada], .btn-lazada:not(:disabled):not(.disabled).active:focus, .btn-lazada:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(51, 55, 131, .5)
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #3897f0;
	border-color: #3897f0
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(56, 151, 240, .5)
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #999;
	border-color: #999
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem hsla(0, 0%, 60%, .5)
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #2ecc71;
	border-color: #2ecc71
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(46, 204, 113, .5)
}
.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #16b9f6;
	border-color: #16b9f6
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(22, 185, 246, .5)
}
.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #fec11c;
	border-color: #fec11c
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(254, 193, 28, .5)
}
.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ff4949;
	border-color: #ff4949
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 73, 73, .5)
}
.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}
.btn-outline-ke:not(:disabled):not(.disabled).active, .btn-outline-ke:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ff0000;
	border-color: #0d3031
}
.btn-outline-ke:not(:disabled):not(.disabled).active:focus, .btn-outline-ke:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(56, 65, 98, .5)
}
.btn-outline-google:not(:disabled):not(.disabled).active, .btn-outline-google:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ea4335;
	border-color: #ea4335
}
.btn-outline-google:not(:disabled):not(.disabled).active:focus, .btn-outline-google:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(234, 67, 53, .5)
}
.btn-outline-facebook:not(:disabled):not(.disabled).active, .btn-outline-facebook:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #3b5998;
	border-color: #3b5998
}
.btn-outline-facebook:not(:disabled):not(.disabled).active:focus, .btn-outline-facebook:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(59, 89, 152, .5)
}
.btn-outline-instagram:not(:disabled):not(.disabled).active, .btn-outline-instagram:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #405de6;
	border-color: #405de6
}
.btn-outline-instagram:not(:disabled):not(.disabled).active:focus, .btn-outline-instagram:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(64, 93, 230, .5)
}
.btn-outline-twitter:not(:disabled):not(.disabled).active, .btn-outline-twitter:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1da1f2;
	border-color: #1da1f2
}
.btn-outline-twitter:not(:disabled):not(.disabled).active:focus, .btn-outline-twitter:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(29, 161, 242, .5)
}
.btn-outline-whatsapp:not(:disabled):not(.disabled).active, .btn-outline-whatsapp:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #27d36b;
	border-color: #27d36b
}
.btn-outline-whatsapp:not(:disabled):not(.disabled).active:focus, .btn-outline-whatsapp:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(39, 211, 107, .5)
}
.btn-outline-line:not(:disabled):not(.disabled).active, .btn-outline-line:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #00c300;
	border-color: #00c300
}
.btn-outline-line:not(:disabled):not(.disabled).active:focus, .btn-outline-line:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 195, 0, .5)
}
.btn-outline-messenger:not(:disabled):not(.disabled).active, .btn-outline-messenger:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #0084ff;
	border-color: #0084ff
}
.btn-outline-messenger:not(:disabled):not(.disabled).active:focus, .btn-outline-messenger:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 132, 255, .5)
}
.btn-outline-telegram:not(:disabled):not(.disabled).active, .btn-outline-telegram:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #08c;
	border-color: #08c
}
.btn-outline-telegram:not(:disabled):not(.disabled).active:focus, .btn-outline-telegram:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 136, 204, .5)
}
.btn-outline-youtube:not(:disabled):not(.disabled).active, .btn-outline-youtube:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: red;
	border-color: red
}
.btn-outline-youtube:not(:disabled):not(.disabled).active:focus, .btn-outline-youtube:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(255, 0, 0, .5)
}
.btn-outline-soundcloud:not(:disabled):not(.disabled).active, .btn-outline-soundcloud:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #fe541f;
	border-color: #fe541f
}
.btn-outline-soundcloud:not(:disabled):not(.disabled).active:focus, .btn-outline-soundcloud:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(254, 84, 31, .5)
}
.btn-outline-applepodcast:not(:disabled):not(.disabled).active, .btn-outline-applepodcast:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #7e50db;
	border-color: #7e50db
}
.btn-outline-applepodcast:not(:disabled):not(.disabled).active:focus, .btn-outline-applepodcast:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(126, 80, 219, .5)
}
.btn-outline-googlepodcast:not(:disabled):not(.disabled).active, .btn-outline-googlepodcast:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1a73e8;
	border-color: #1a73e8
}
.btn-outline-googlepodcast:not(:disabled):not(.disabled).active:focus, .btn-outline-googlepodcast:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(26, 115, 232, .5)
}
.btn-outline-spotify:not(:disabled):not(.disabled).active, .btn-outline-spotify:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #1db954;
	border-color: #1db954
}
.btn-outline-spotify:not(:disabled):not(.disabled).active:focus, .btn-outline-spotify:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(29, 185, 84, .5)
}
.btn-outline-shopee:not(:disabled):not(.disabled).active, .btn-outline-shopee:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #e94b35;
	border-color: #e94b35
}
.btn-outline-shopee:not(:disabled):not(.disabled).active:focus, .btn-outline-shopee:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(233, 75, 53, .5)
}
.btn-outline-bukalapak:not(:disabled):not(.disabled).active, .btn-outline-bukalapak:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #d60e4c;
	border-color: #d60e4c
}
.btn-outline-bukalapak:not(:disabled):not(.disabled).active:focus, .btn-outline-bukalapak:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(214, 14, 76, .5)
}
.btn-outline-tokopedia:not(:disabled):not(.disabled).active, .btn-outline-tokopedia:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #43b550;
	border-color: #43b550
}
.btn-outline-tokopedia:not(:disabled):not(.disabled).active:focus, .btn-outline-tokopedia:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(67, 181, 80, .5)
}
.btn-outline-blibli:not(:disabled):not(.disabled).active, .btn-outline-blibli:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #0d96d6;
	border-color: #0d96d6
}
.btn-outline-blibli:not(:disabled):not(.disabled).active:focus, .btn-outline-blibli:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(13, 150, 214, .5)
}
.btn-outline-lazada:not(:disabled):not(.disabled).active, .btn-outline-lazada:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #0f146d;
	border-color: #0f146d
}
.btn-outline-lazada:not(:disabled):not(.disabled).active:focus, .btn-outline-lazada:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(15, 20, 109, .5)
}
.btn-link {
	font-weight: 400;
	color: #3897f0;
	text-decoration: none
}
.btn-link:hover {
	color: #0f71cc;
	text-decoration: underline
}
.btn-link:focus {
	text-decoration: underline;
	box-shadow: none
}
.btn-link:disabled {
	color: #6c757d;
	pointer-events: none
}
.btn-block {
	display: block;
	width: 100%
}

.big {
	padding:13px;
}
.small {
	padding:2px 13px; font-size:90%;
}

.custom-control-input:focus:not(:checked)~.custom-control-label:before {
	border-color: #afd5f9
}
.custom-control-input:not(:disabled):active~.custom-control-label:before {
	color: #fff;
	background-color: #deeefd;
	border-color: #deeefd
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem
}
.card-body {
	flex: 1 1 auto;
	padding: 1.25rem
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
	opacity: .75
}
.position-relative {
	position: relative!important
}
@supports(position:sticky) {
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0
}
.ml-2 {
	margin-left: .5rem!important
}
.py-3 {
	padding-top: 0.5rem!important
}
.py-3 {
	padding-bottom: 0.5rem!important
}
.text-center {
	text-align: center!important
}
@media print {
	*, :after, :before {
		text-shadow: none!important;
		box-shadow: none!important
	}
	img {
		page-break-inside: avoid
	}
	@page {
		size: a3
	}
	.container, body {
		min-width: 1360px!important
	}
}
@font-face {
	font-family: belanja;
	src: url(/assets/fonts/belanja.eot);
	src: url(/assets/fonts/belanja.eot) format("embedded-opentype"), url(/assets/fonts/belanja.ttf) format("truetype"), url(/assets/fonts/belanja.woff) format("woff"), url(/assets/fonts/belanja.svg) format("svg");
	font-weight: 400;
	font-style: normal
}
.bg-theme {
	background-color: #0b1451; margin-bottom:15px;
}
@media(max-width:767px) {
	.is-overlay:not(:hover) {
		opacity: .3
	}
}
.navbar-header {
	position: relative;
	text-align: center
}
.navbar-header .btn-back {
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center
}
@media(max-width:1279px) {
	.container-mobile {
		overflow: hidden
	}
}
@media(min-width:1280px) {
	.container-mobile {
		max-width: 480px
	}
}
#content {
	position: relative
}
body.page-checkout {
	box-shadow: inset 0 480px 0 0 #0c1e5a
}
@media(min-width:1280px) {
	body.page-checkout {
		padding-bottom: 2rem
	}
}
.card-checkout {
	margin-bottom: 1.5rem;
	border: none;
	box-shadow: 0 3px 16px rgba(0, 0, 0, .16)
}
.product-box {
	display: flex;
	align-items: center;
	margin-bottom: 1rem
}
.product-box .product-detail {
	flex: 1;

}
.label-title {
	font-size: 1rem;
	color: #49535d;
	margin-bottom: 1rem
}
.price-group {
	display: flex;
	align-items: center;
	position: relative;
	flex-wrap: wrap
}
.price-group label {
	margin-bottom: 0
}
.price-group .price-label {
	margin-left: auto;
	line-height: 2rem
}

.font_white {color:#ffffff;}
.font_color2 {color:#d9c914;}
.angkaunik {color:#ae977d; font-size:80%; text-align:center; margin-top:10px;}
.gratiss {color:#84cb29}
.div_marg {margin-left:15px; margin-right:15px;}